.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  padding: 3rem 0%;
  gap: 8vh;
}

.album-section {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;

  &__album-list {
    width: 100%;
  }
}
