@import url('../../../styles/variables.scss');

.user-list-buttons {
    display: grid;
    grid-template-columns: repeat(var(--buttons-count), 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    container-type: size;


}