@import '../../../styles/variables.scss';





.album-list-item {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 7%;
    border: 0.1rem solid rgba($cor-primaria, 0.1);
    box-shadow: 0 0.01rem 0.01rem rgba(0, 0, 0, 0.1);
    

    &:hover{
        cursor: pointer;
        border: 0.2rem solid $cor-primaria;
        
        
    }

    &__album-info {
        display: flex;
        flex-direction: row;
        aspect-ratio: 2.5 / 1;
        height: 80%;
        background-color: rgb(255, 255, 255);
        flex-wrap: nowrap;

        &__photo {
            height: 100%;
            border-radius: 0.4rem;

        }

        &__data {
            display: flex;
            flex: 1;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 2% 5%;
            font-family: $fonte-textos-menores;

            &__order {
                font-size: clamp($font-size-smallest, 2rem, $font-size-title-extra-lg);
                font-family: $fonte-titulos-menores;
                font-weight: $font-weight-bold;
            }

            &__name {
                width: 100%;
                height: auto;
                font-size: clamp($font-size-smallest, 1rem, $font-size-title-lg);
                font-weight: $font-weight-semibold;

            }

            &__artist {
                color: $cor-quaternaria;
                font-weight: $font-weight-light;
                font-size: clamp($font-size-smallest, 0.8rem, $font-size-title-lg)
            }

            &__year {
                color: $cor-quaternaria;
                font-weight: $font-weight-light;
                font-size: clamp($font-size-smallest, 0.8rem, $font-size-title-lg)
            }
        }
    }

    &__album-stats {
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        &__likes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: $cor-primaria;
            font-family: $fonte-textos-menores;
            font-weight: $font-weight-bold;
            font-size: clamp($font-size-smallest, 1.8rem, $font-size-title-extra-lg);


            &__label {
                font-family: $fonte-textos-menores;
                font-size: clamp($font-size-smallest, 35%, $font-size-title-md);
            }





        }

        &__rate {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $cor-primaria;
            font-family: $fonte-textos-menores;
            font-weight: $font-weight-bold;
            font-size: clamp($font-size-smallest, 1.8rem, $font-size-title-extra-lg);
            gap: 0.3rem;

            &__line {
                background: linear-gradient(90deg, $cor-primaria var(--rate-level, 0%), $cor-quaternaria var(--rate-fill, 0%));
                width: 100%;
                aspect-ratio: 10 / 1;
                border-radius: 0.7rem;
            }
        }

        &__spin {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $cor-primaria;
            font-family: $fonte-textos-menores;
            font-weight: $font-weight-bold;
            font-size: clamp($font-size-smallest, 1.8rem, $font-size-title-extra-lg);


            &__label {
                font-family: $fonte-textos-menores;
                font-size: clamp($font-size-smallest, 35%, $font-size-title-md);
            }
        }
    }



    }