@import '../../../styles/variables.scss';


    .album-card {
        
        display: flex;
        width: 140px;
        aspect-ratio: 5 / 6 ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0.5vh;
        gap:1vh ;

        &:hover{
            border: 1px solid $cor-primaria;
        }



        &__image {
                width: 100%;
                height: auto;
            }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            width: 100%;
            height: 30%;
            padding-left:2%;



       

            &__title {
                font-size:$card-text-font-size-lg;
                font-family: $card-text-font;
                color: $cor-primaria;
                width: 100%;
                word-break: break-word;
                overflow-wrap: break-word;
                text-align: start;
            }

            &__artist {
                width: 100%;
                font-size: $card-text-font-size-sm;
                color: $cor-quaternaria;
                font-family: $card-text-font;
                font-weight: $font-weight-light;
                word-break: break-word;
                overflow-wrap: break-word;
                text-align: start;
            }
        }
    }


