@import '../../../styles/variables.scss';

@media (min-width: 1024px) {
    .album-card {
        
        display: flex;
        width: $album-card-width;
        aspect-ratio: $album-card-aspect-ratio;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap:1vh ;



        &__image {
                width: 100%;
                height: auto;
            }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 100%;



       

            &__title {
                font-size:$font-size-medium;
                font-family: $album-card-text-font;
            }

            &__artist {
                font-size: $font-size-small;
                color: gray;
                font-family: $album-card-text-font;
                font-weight: $font-weight-light;
            }
        }
    }


}