@import '../../../styles/variables.scss';


    .album-card {
        
        display: flex;
        width: $card-width;
        aspect-ratio: $card-aspect-ratio;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap:1vh ;



        &__image {
                width: 100%;
                height: auto;
            }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 100%;



       

            &__title {
                font-size:$card-text-font-size-lg;
                font-family: $card-text-font;
                color: $cor-primaria;
                width: 100%;
                word-break: break-word;
                overflow-wrap: break-word;
            }

            &__artist {
                width: 100%;
                font-size: $card-text-font-size-sm;
                color: $cor-quaternaria;
                font-family: $card-text-font;
                font-weight: $font-weight-light;
                word-break: break-word;
                overflow-wrap: break-word;
            }
        }
    }


