@import '../../../styles/variables.scss';



.section-title{
    flex-direction: column;
    width:var(--section-part-width);
    
    

    &__text{
        height:$font-size-title-lg ;
        text-transform: uppercase;
        font-family: $fonte-titulos-menores;
        font-size: $font-size-title-lg;
        font-family: $fonte-titulos;
        width: 100%;
        padding-left: 7%;
        color: $cor-primaria;   
        
        
    }

    &__line{
    width:100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    


    


    &__first-line{
        background-color: $cor-primaria;
        width: 17vw;
        height: 20%;
    }

    
    
    
    &__second-line{
        background-color: $cor-primaria;
        height: 20%;
        width: 100%;
        z-index: 1;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px
    }
    
    &__circle{
        height: 55%;
        aspect-ratio: 1/1;
        background-color: $cor-primaria;
        border-radius: 50%;
        clip-path: circle();
        z-index: 100;
        position: absolute;
        right: 0;
    }
        
    
}
}