// Aqui ficarão as paletas de cores e fontes, que seguiremos no uso do projeto.


//----------------------------------------------//
// TODAS AS FONTES E CORES DE CADA ELEMENTO DEVEM SER ADICIONADAS AQUI
// PARA GARANTIR A UNIFORMIDADE DO PROJETO.
//----------------------------------------------//



// --- Tamanhos de Fonte ---
$font-size-title-extra-lg: 32px; // Títulos grandes"
$font-size-title-lg: 26px; // Títulos grandes"
$font-size-title-md: 20px; // Títulos médios"
$font-size-medium: 14px; // Texto principal, "Texto corrido normal"
$font-size-small: 10px; // Texto pequeno, como "Digite seu nome completo"
$font-size-smallest:8px;

// --- Pesos da Fonte (Font Weights) ---
$font-weight-light: 200; 
$font-weight-regular: 400; 
$font-weight-medium: 500; 
$font-weight-semibold: 600; 

// Paleta de cores - nomes genericos
$cor-preta: #000000;
$cor-cinza: #333333;
$cor-cinza-claro: #6b6b6b;
$cor-branca: #FFFFFF;
$cor-vermelha: #FF0000;
$cor-vermelha-claro: #ff3f3f;
$cor-vermelha-erro:#ca0300;

// Fontes
$fonte-titulos: 'Rubik', cursive;
$fonte-titulos-medios: 'Roboto', cursive;
$fonte-titulos-menores: 'Bebas Neue', cursive;
$fonte-textos-menores: 'Roboto-Mono', monospace;
$fonte-botoes: 'Rubik Bubbles', cursive;


// Palheta indentidade visual Tapeworm Music Log
$cor-primaria:$cor-preta;
$cor-secundaria: $cor-branca;
$cor-terciaria:$cor-cinza;
$cor-quaternaria:$cor-cinza-claro;
$cor-alerta:$cor-vermelha;

// --- Cores de Texto ---
$text-color-primary: $cor-primaria; // Para a maioria dos textos sobre fundos claros
$text-color-secondary: $cor-terciaria; // Para textos de menor importância, placeholders
$text-color-light: $cor-secundaria; // Para textos sobre fundos escuros


// --- Cores de Fundo ---
$background-color-page: $cor-secundaria;
$background-color-dark: $cor-primaria;
$background-color-input: $background-color-page;

// --- Estilos de Botão ---
// Borão principal
$button-primary-background: $cor-primaria;
$button-primary-text: $cor-secundaria;
$button-primary-hover: $cor-terciaria;

$button-primary-font: $fonte-botoes;




//Botão de perigo
$button-danger-background:$cor-alerta;
$button-danger-text: $cor-branca;
$button-danger-hover: $cor-vermelha-claro;

$button-danger-font: $fonte-botoes;

// --- Estilos de Input ---
$input-border-color: $cor-primaria;
$input-text-color: $cor-primaria;
$input-label-color: $cor-primaria;
$input-placeholder-color: $cor-terciaria;
$input-error-color: $cor-vermelha-erro;

$input-placeholder-font: $fonte-textos-menores;
$input-label-font: $fonte-titulos-medios;

// --- Estilos de Link ---
$link-color-primary: $cor-secundaria;
$link-color-secondary: $cor-primaria;
$link-color-hover: $cor-cinza-claro;
$link-font: $fonte-titulos-menores;

// --- Estilos de Header ---
$header-background-color: $cor-primaria;
$header-text-color: $cor-secundaria;
$header-font: $fonte-titulos-menores;


// --- Estilos de Card ---
$card-text-font:$fonte-textos-menores;
$card-text-font-size-lg:$font-size-medium;
$card-text-font-size-sm:$font-size-small;
$card-text-sm-color:$cor-quaternaria;
$card-text-lg-color:$cor-primaria;







// TOKENS DE UNIDADES (Espaçamento, Bordas, etc.)

// --- Border Radius (Universal) ---
$border-radius-base: 10px;
$border-color: $cor-primaria;

$padding-inputs: 8px 10px;



//Icons

$close-icon: url('../assets/images/icons/close-svgrepo-com.svg');
$menu-icon:url('../assets/images/icons/menu-svgrepo-com.svg');
$logo-icon:url('../assets/images/icons/tapeworm-logo.svg');
$arrow-square-left-icon:url('../assets/images/icons/arrow-square-left.svg');
$arrow-square-right-icon:url('../assets/images/icons/arrow-square-right.svg');
$arrow-prev-small-icon:url('../assets/images/icons/arrow-prev-small.svg');
$arrow-next-small-icon:url('../assets/images/icons/arrow-next-small.svg');