@import '../../../styles/variables.scss';

.artist-card{
    width: 140px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding-bottom: 1vh;
    
    
   
    &:hover{
        border: 1px $cor-primaria solid;
    }
    
        
    
    &__image{
        clip-path: circle();
        width: 100%;

    

    }

    &__text{
        font-family: $card-text-font;
        font-size: $card-text-font-size-lg;
        color: $cor-primaria;
        text-align: center;
        height: 30%;
    }

}