@import '../../../styles/variables.scss';

.artist-card{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding-bottom: 1vh;
    
    
   
    &:hover{
        border: 0.1vmin $cor-primaria solid;
    }
    
        
    
    &__image{
        clip-path: circle();
        width: 100%;

    

    }

    &__text{
        font-family: $card-text-font;
        font-size: clamp($font-size-small,1.8vmin,$font-size-title-md);
        color: $cor-primaria;
        text-align: center;
        height: 30%;
    }

}