@import '../../../styles/variables.scss';

.section-part{
    width:100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;

    &__first-line{
        background-color: $cor-primaria;
        width: 17vw;
        height: 20%;
    }

    &__text{
        background-color:$cor-primaria;
        height: 100%;
        width: auto;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-color-light;
        font-family: $fonte-titulos-menores;
        text-transform: uppercase;
        font-size: $font-size-title-md;
        padding: 0 2vw;




    }
    &__second-line{
        background-color: $cor-primaria;
        height: 20%;
        width: 100%;
        z-index: 1;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px
    }
    
    &__circle{
        height: 55%;
        aspect-ratio: 1/1;
        background-color: $cor-primaria;
        border-radius: 50%;
        clip-path: circle();
        z-index: 10;
        position: absolute;
        right: 0;
    }
        
    
}