@import '../../../styles/variables.scss';


.rate-display{
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100cqmin;
    line-height: 1;
    font-family: $fonte-titulos;
    font-weight: $font-weight-bold;
    color: $cor-secundaria;
    background-color: $cor-primaria;
    border-radius: 200cqi;
    padding:  15cqh 25cqh;
}