@import '../../../styles/variables.scss';


.rate-display{
    height: fit-content;
    aspect-ratio: 5 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp($font-size-small, 2vmin, $font-size-title-lg);
    font-family: $fonte-titulos;
    font-weight: $font-weight-bold;
    color: $cor-secundaria;
    background-color: $cor-primaria;
    border-radius: 2vmin;
    padding: 0vmin 1vmin;
}