@import '../../../styles/variables.scss';




.header--mobile {

    &__menu {
        position: absolute;
        top: 7vh;
        left: 9vw;
        width: 10vw;
        height: 10vw;
        cursor: pointer;
        background-color: $cor-primaria;
        -webkit-mask-image: $menu-icon;
            mask-image: $menu-icon;
            mask-repeat: no-repeat;
            mask-size: contain;

    
            
      
    }

    &__nav {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;
        width: 50%;
        height: 100%;
        padding: 7vh 10vw;
        background-color: $cor-primaria;
        gap: 5vh;   
        z-index: 10;

        &--close{
                display: none;
            }

        &__logo{
            width: 100%;
            aspect-ratio: 6 / 4;
            background-color:$cor-secundaria;
            -webkit-mask-image: $logo-icon;
            mask-image: $logo-icon;
            mask-repeat: no-repeat;
            mask-size: contain;


        }
        

        &__close {
            position: relative;
            top: 0;
            left: 25vw;
            width: 6vw;
            height: 6vw;
            cursor: pointer;
            background-color: $cor-secundaria;
            -webkit-mask-image: $close-icon;
            mask-image: $close-icon;
            mask-repeat: no-repeat;
            mask-size: contain;
            
        }



        &__link {
            color: $cor-secundaria;
            font-family: $link-font;
            color: $link-color-primary;
            font-size: clamp(1rem, 2.5vw, 1.3rem);

            &:hover {
                color: $link-color-hover;
            }
        }

    }

}



.logo-container {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
    z-index: 1;


    &__logo {
        max-width: 40vw;

    }
}



.header--desktop__nav {
    display: none;
}

@media (min-width: 1024px) {

    .header--mobile{
        &__nav{
            display: none;
        }

        &__menu{
            display: none;
        }
    }


    


    .logo-container {
        height: 18vh;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 5vh;


        &__logo {
            max-width: 10vw;

        }
    }

    .header--desktop {

        &__nav {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 1vh 0;
            background-color: $cor-primaria;
            gap: clamp(1.2rem, 5vw, 9rem);



            &__link {
                color: $cor-secundaria;
                font-family: $link-font;
                color: $link-color-primary;
                font-size: clamp(1rem, 2.5vw, 1.3rem);

                &:hover {
                    color: $link-color-hover;
                }
            }

        }



    }
}