@import url('../../../styles/variables.scss');

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 5vh;
    

    &__link{

    }
    


}