.marquee-text{
    &__text{
        width: 100%;
        display: inline-block;

        &--marquee{
            width: 100%;
            display: inline-block;
            animation: marquee 5s linear infinite;
        }
        @keyframes marquee {
            0%{transform: translate(20%);}
            50%{transform: translate(-50%);}
            100%{transform: translate(20%);}
            
          }
    }
}